
.exchangebox{
     
    right:240px;
    background-color: white;
    color:rgb(122, 95, 95);
    position: relevant;}
    
.app {
     
   
    background-color: white;
    color:rgb(122, 95, 95);
    position: relevant;
 

    ;
   
  }
  .card {
    border: 1px solid #3f3f3f;
    padding: 12px;
    margin-top: 12px;
    top:10px;
  }
  .input {
    width: 100%;
    max-width: 240px;
    padding: 12px 6px;
    
  }
  .my {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .rate {
    margin-left: 12px;
  }